In [1]:
#import the dependencies 

import pandas as pd

import gmaps 

import requests 

#import API key 

from config import g_key

In [2]:
#store the CSV you saved and created in parrt one to data fram e

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Estelle,US,2022-09-06 23:03:22,29.8458,-90.1067,84.99,69,75,3.44
1,1,Hofn,IS,2022-09-06 23:03:22,64.2539,-15.2082,51.53,85,4,10.98
2,2,Kitimat,CA,2022-09-06 23:00:06,54.0524,-128.6534,55.90,25,100,1.61
3,3,Yar-Sale,RU,2022-09-06 23:03:22,66.8333,70.8333,35.49,87,100,6.13
4,4,Hobart,AU,2022-09-06 22:58:59,-42.8794,147.3294,47.26,88,20,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use your Google API key 

gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#syntax for heat map

#1. Assign the locations to an array of latitude and longtitude pairs

locations = city_data_df[["Lat", "Lng"]]

#get max temp

max_temp = city_data_df["Max Temp"]

#2 Assign the figure variables 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variables 

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                  dissipating=False, max_intensity=300, point_radius=4)

#add the heatmap layer. 

fig.add_layer(heat_layer)

#call the figure to plot the data 

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#create heatmap for humidity 

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#create heatmap for cloudiness 

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#create heatmap for wind speed 

locations = city_data_df[["Lat", "Lng"]]

wind_speed = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#ask the customer to add the minimum and max temperature value 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]


preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Estelle,US,2022-09-06 23:03:22,29.8458,-90.1067,84.99,69,75,3.44
11,11,Georgetown,MY,2022-09-06 23:00:04,5.4112,100.3354,78.89,90,40,3.44
17,17,Avarua,CK,2022-09-06 23:03:27,-21.2078,-159.7750,78.85,78,20,12.66
21,21,Ishigaki,JP,2022-09-06 23:00:17,24.3448,124.1572,80.73,100,75,8.05
25,25,Vaini,TO,2022-09-06 23:03:29,-21.2000,-175.2000,84.36,89,20,8.05
27,27,Banjar,ID,2022-09-06 23:03:30,-8.1900,114.9675,76.08,88,99,2.71
28,28,Fortuna,US,2022-09-06 23:03:30,40.5982,-124.1573,76.08,75,0,11.50
30,30,Auki,SB,2022-09-06 23:03:31,-8.7676,160.7034,83.68,69,5,3.87
34,34,Hithadhoo,MV,2022-09-06 23:03:32,-0.6000,73.0833,80.94,72,97,14.43
35,35,Sao Miguel Do Araguaia,BR,2022-09-06 23:03:32,-13.2750,-50.1628,85.41,19,15,4.85

In [12]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [13]:
#create dataframe called hotel_df to store hotel names along with city, country, max_temp, and coordinates 

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

                      City Country  Max Temp      Lat       Lng Hotel Name
0                  Estelle      US     84.99  29.8458  -90.1067
11              Georgetown      MY     78.89   5.4112  100.3354
17                  Avarua      CK     78.85 -21.2078 -159.7750
21                Ishigaki      JP     80.73  24.3448  124.1572
25                   Vaini      TO     84.36 -21.2000 -175.2000
27                  Banjar      ID     76.08  -8.1900  114.9675
28                 Fortuna      US     76.08  40.5982 -124.1573
30                    Auki      SB     83.68  -8.7676  160.7034
34               Hithadhoo      MV     80.94  -0.6000   73.0833
35  Sao Miguel Do Araguaia      BR     85.41 -13.2750  -50.1628

In [27]:
#set parameters to search for a hotel 

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

for index, row in hotel_df.iterrows():
    
    #get the latitude and longitude.
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    
    #add the lat and lng to the location key for params 
    
    params["location"] = f"{lat},{lng}"
    
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        
        print("Hotel not found....skipping.")

JSONDecodeError: [Errno Expecting value] <!DOCTYPE html>
<html lang=en>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Error 404 (Not Found)!!1</title>
  <style>
    *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}
  </style>
  <a href=//www.google.com/><span id=logo aria-label=Google></span></a>
  <p><b>404.</b> <ins>That’s an error.</ins>
  <p>The requested URL <code>/maps/api/place/nearbysearch/output?parameters&amp;radius=5000&amp;type=lodging&amp;key=AIzaSyDcVjzJdRRMil7h2-1-tSa5PBIEH2RLLSo&amp;location=29.8458%2C-90.1067</code> was not found on this server.  <ins>That’s all we know.</ins>
: 0

In [18]:
# Iterate through the DataFrame.

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key":g_key}

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
            
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Estelle,US,84.99,29.8458,-90.1067,Ohio
11,Georgetown,MY,78.89,5.4112,100.3354,Cititel Penang
17,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
21,Ishigaki,JP,80.73,24.3448,124.1572,Hotel Peace Land Ishigakijima
25,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
27,Banjar,ID,76.08,-8.1900,114.9675,The Hamsa Resort
28,Fortuna,US,76.08,40.5982,-124.1573,Super 8 by Wyndham Fortuna
30,Auki,SB,83.68,-8.7676,160.7034,Auki Motel
34,Hithadhoo,MV,80.94,-0.6000,73.0833,Scoop Guest House
35,Sao Miguel Do Araguaia,BR,85.41,-13.2750,-50.1628,Hotel Executivo Palace

In [29]:
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
#add a heatmap of temperatures for vacation spots 

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                            max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

#call figure 

fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]