## Deliverable 3. Create a Travel Itinerary Map.

In [45]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [46]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("WeatherPy_vacation_itinerary.csv")

vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,5,Kapaa,US,83.48,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,10,Pacific Grove,US,73.54,clear sky,36.6177,-121.9166,Lovers Point Inn
2,11,Katsuura,JP,81.45,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
3,13,Ponta Delgada,PT,79.50,scattered clouds,37.7333,-25.6667,Vila Nova Hotel
4,14,Ocos,GT,77.18,overcast clouds,14.5094,-92.1933,Auto Hotel El Soñador

In [47]:
#round numbers of lat and lng to 2 

vacation_df["Lat"] = round(vacation_df["Lat"],1)

vacation_df["Lng"] = round(vacation_df["Lng"],1)

In [48]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,5,Kapaa,US,83.48,few clouds,22.1,-159.3,Sheraton Kauai Coconut Beach Resort
1,10,Pacific Grove,US,73.54,clear sky,36.6,-121.9,Lovers Point Inn
2,11,Katsuura,JP,81.45,overcast clouds,35.1,140.3,Katsuura Hotel Mikazuki
3,13,Ponta Delgada,PT,79.50,scattered clouds,37.7,-25.7,Vila Nova Hotel
4,14,Ocos,GT,77.18,overcast clouds,14.5,-92.2,Auto Hotel El Soñador

In [49]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

<dt>Weather Description</dt><dd>{Description}</dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [50]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]

max_temp = vacation_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#call figure 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info )

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Lamar")]

vacation_end = vacation_df.loc[(vacation_df["City"] == "Lamar")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Burkburnett")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Pecos")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "San Patricio")]

In [57]:
import numpy as np

In [58]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

#start = (18.7, -103.7)

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]

end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]

#end = (18.7, -103.7)

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]

#stop1 = (16.9, -99.9)   
                                                          
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]

stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [59]:
stop3

(28.0, -97.5)

In [60]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets
#Lng and Lat pairs

fig =  gmaps.figure()

vacation_texas = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='WALKING')

fig.add_layer(vacation_texas)

fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, 
                          vacation_stop3])

itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
118,336,Lamar,US,81.36,broken clouds,33.7,-95.6,Kings Inn Paris TX
118,336,Lamar,US,81.36,broken clouds,33.7,-95.6,Kings Inn Paris TX
154,391,Burkburnett,US,83.89,clear sky,34.1,-98.6,Best Western Red River Inn
131,358,Pecos,US,83.30,clear sky,31.4,-103.5,Knights Inn & Suites Pecos Northeast
42,129,San Patricio,US,82.26,broken clouds,28.0,-97.5,"Motel 6 Sinton, TX"

In [78]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>

<dt>Hotel</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

<dt>Weather Description</dt><dd>{Description}</dd>

</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [79]:
# 11a. Add a marker layer for each city to the map.

locations = itinerary_df[["Lat", "Lng"]]


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info )

fig.add_layer(marker_layer)
# 4b. Display the figure

fig


# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))